---
---

* {
  box-sizing: border-box;
}

$mobile-max: 800px;

html,
body {
  --text-color: #ddd;
  --text-color-h: #bbb;
  --text-color-a: #ff5151;
  --text-color-a-h: #d92b2b;
  --bgnd-color: #222;
  --bgnd-color-h: #1a1a1a;
  --mobile-max: $mobile-max;
  margin: 0;
  background-color: var(--bgnd-color);
  font-family: Raleway;
  font-size: 17px;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  color: var(--text-color);

  @media screen and (max-width: $mobile-max) {
    font-size: 14px;
    line-height: 1.6;
  }
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  justify-content: flex-start;
  overflow-y: scroll;

  @media screen and (max-width: $mobile-max) {
    flex-direction: column;
  }
}

a {
  color: var(--text-color-a);
  &:visited {
    color: var(--text-color-a);
  }
  &:hover {
    color: var(--text-color-a-h);
  }
}

ul {
  padding-left: 1rem;
}

table,
td,
th {
  border: 1px solid var(--text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0 1rem;
}

.language-html{
  font-size: 16px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 25%;
  max-width: 360px;
  height: 100vh;
  top: 0;
  padding-left: 4rem;
  justify-content: center;
  align-items: flex-start;

  @media screen and (max-width: $mobile-max) {
    min-width: 100%;
    background-color: var(--bgnd-color-h);
    height: auto;
    flex-direction: row;
    padding-left: 0;
  }

  .nav-content-container {
    @media screen and (max-width: $mobile-max) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.content-container {
  flex: 1;
  max-width: 800px;
  padding: 0.75rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media screen and (max-width: $mobile-max) {
    justify-content: center;
  }
}

.week-title {
  &.schedule {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 0;
    cursor: pointer;
    color: var(--text-color-a);

    span {
      text-decoration: underline;
      &::after {
        font-size: 0.9rem;
        display: inline-block;
        vertical-align: text-bottom;
        margin-left: 1rem;
        text-decoration: none;
        content: "\25BC";
      }
    }

    &:hover {
      color: var(--text-color-a-h);
    }

    &.show {
      color: var(--text-color);
      color: var(--text-color-a);
      &:hover {
        color: var(--text-color-h);
        color: var(--text-color-a-h);
      }
      span::after {
        content: "\25B2";
      }
    }
  }
}

.week-content-container {
  &.schedule {
    height: 1rem;
    overflow: hidden;
    &.show {
      height: auto;
    }
  }

  .content-header {
    margin-bottom: 0;

    &.optional-readings {
      margin-top: 1.5rem;
    }
  }

  .content-list {
    margin-left: 0.5rem;
    margin-top: 0;
  }

  span.avoidwrap {
    display: inline-block;
  }
}

h2.assignment-title {
  margin-bottom: 0;
}
h3.assignment-title {
  margin-top: 0;
}

.assignment-content-title {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  text-decoration: underline;
  color: var(--text-color-a);

  span {
    text-decoration: underline;
    &::after {
      font-size: 0.7rem;
      display: inline-block;
      vertical-align: middle;
      margin-left: 1rem;
      text-decoration: none;
      content: "\25BC";
    }
  }

  &:hover {
    color: var(--text-color-a-h);
  }

  &.show {
    color: var(--text-color);
    color: var(--text-color-a);
    &:hover {
      color: var(--text-color-h);
      color: var(--text-color-a-h);
    }
    span::after {
      content: "\25B2";
    }
  }
}

.assignment-content-container {
  height: 0.5rem;
  overflow: hidden;
  &.show {
    height: auto;
    margin-bottom: 1rem;
  }
}

.assignment-back-container {
  margin-top: 2rem;
}

.assignment-back-link {
  span::before {
    font-size: 0.7rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    text-decoration: none;
    content: "\25B2";
    transform: rotate(-90deg);
  }
}

.image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.image-row-2 {
    width: 66%;
    .img-wrapper {
      width: 45%
    }
  }

  .img-wrapper {
    width: 30%;

    img {
      cursor: pointer;
      width: 100%;
    }
  }
}

.scaled-images {
  width: 100%;
  margin: 0 auto;

  img {
    width: 100%;
    display: block;
    margin: 0 auto 1rem;
  }

  &.s75 {
    img {
      width: 75%;
    }
  }

  &.s66 {
    img {
      width: 66%;
    }
  }

  &.s50 {
    img {
      width: 50%;
    }
  }

  &.s33 {
    img {
      width: 33%;
    }
  }

  &.left {
    img {
      margin-left: 0;
    }
  }
}

.video-container {
  height: 200px;

  video {
    display: block;
    margin: 0 auto;
  }

  &.h200 {
    height: 200px;
    video {
      height: 100%;
    }
  }

  &.w100 {
    width: 100%;
    height: auto;
    video {
      width: 100%;
    }
  }
}

.youtube-container {
  position: relative;
  height: 0;
  overflow: hidden;

  &.s16x9 {
    padding-bottom: 56.25%;
  }

  &.s4x3 {
    padding-bottom: 75%;
  }

  iframe, video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.audio-tutorial {
  width: 100%;
}

.editor-block-wrapper {
  .p5-editor-wrapper {
    --editor-height: 600px;
    --editor-y-offset: -45px;
    --editor-x-offset: -15px;
  }

  .arduino-editor-wrapper {
    --editor-height: 600px;
    --editor-y-offset: -100px;
    --editor-x-offset: -10px;
  }

  .editor-wrapper {
    overflow-y: hidden;
    position: relative;
    width: calc(100% + 100px);
    height: calc(var(--editor-height) + var(--editor-y-offset));

    .editor {
      position: absolute;
      top: var(--editor-y-offset);
      left: var(--editor-x-offset);
      width: 100%;
      height: var(--editor-height);
      border: 0;
      display: block;
    }
  }

  .editor-link {
    display: block;
    font-size: 0.9rem;
  }
  margin-bottom: 1rem;
}

.sl-overlay {
  background: var(--bgnd-color) !important;
}

.sl-close,
.sl-next,
.sl-prev {
  color: var(--text-color-a) !important;

  &:hover {
    color: var(--text-color-a-h) !important;
  }
}

@media print {
  html,
  body {
    --text-color: #000;
    --text-color-h: #111;
    --bgnd-color: #fff;
    --bgnd-color-h: #eee;
  }
  .nav-container {
    display: none;
  }
}
