<title>{{ page.title }}</title>

<meta name="description" content="NYU IDM Creative Coding 2024 Fall Section B">
<meta name="keywords" content="creative, coding, nyu, tandon, idm, 2024, 6063">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<base target="_blank">

<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/simplelightbox/simple-lightbox.min.css">

<link href="https://fonts.googleapis.com/css?family=Raleway:400%7CSource+Code+Pro:400" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.png">

<script src="{{ site.baseurl }}/js/targets.js"></script>

{% if page.url contains '/homework/' or page.path contains '/homework/' %}
  <script src="{{ site.baseurl }}/js/homework.js"></script>
{% endif %}

{% if page.url contains '/schedule/' %}
  <script src="{{ site.baseurl }}/js/schedule.js"></script>
{% endif %}

{% if page.path contains '/tutorial/' %}
  <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script src="{{ site.baseurl }}/js/editor-loader.js"></script>
{% endif %}
