{% assign hw = include.homework %}

<div class="week-content-container">
  <h2 class="assignment-title">{{ hw.title }}</h2>
  <h3 class="assignment-title">Due: {{ hw.when }}</h3>

  {% if hw.programming.description and hw.programming.description.size > 0 %}
    <h3 class="assignment-content-title programming-title">
      <span>Programming ({{ hw.programming.points }} points)</span>
    </h3>
    <div class="assignment-content-container">
      {{ hw.programming.description | markdownify }}
    </div>
  {% endif %}

  {% if hw.reading and hw.reading.description.size > 0 %}
    <h3 class="assignment-content-title reading-title">
      <span>Read & Respond ({{ hw.reading.points }} points)</span>
    </h3>
    <div class="assignment-content-container">
      {{ hw.reading.title | markdownify }}
      {{ hw.reading.intro | markdownify }}

      {% for r in hw.reading.readings %}
        <div>
          {{ forloop.index }}.
            <a href="{{ r.url }}">{{ r.title }}</a>
            {% if r.author %}
              by {{ r.author }}<br>
            {% endif %}
            {% if r.chapter %}
              <span class="avoidwrap">{{ r.chapter }}</span>
            {% endif %}
            {% if r.pages %}
              <span class="avoidwrap">(pdf pages {{ r.pages }})</span>
            {% endif %}
        </div>
      {% endfor %}

      {% if hw.reading.optional.size > 0 %}
        <div class="content-header optional-readings">Optional Readings:</div>
        <div>
          {% for o in hw.reading.optional %}
            <div>
              {{ forloop.index }}.
              <a href="{{ o.url }}">{{ o.title }}</a>
              by {{ o.author }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {{ hw.reading.description | markdownify }}
    </div>
  {% endif %}

  {% if hw.project and hw.project.description.size > 0 %}
    <h3 class="assignment-content-title project-title">
      <span>Project ({{ hw.project.points }} points)</span>
    </h3>
    <div class="assignment-content-container">
      {{ hw.project.description | markdownify }}
    </div>
  {% endif %}

  {% if hw.quiz %}
    <h3 class="assignment-content-title quiz-title">
      <span>Quiz ({{ hw.quiz.points }} points)</span>
    </h3>
    <div class="assignment-content-container">
      {{ hw.quiz.title }}: <a href="{{ hw.quiz.url }}">Brightspace</a>
    </div>
  {% endif %}

  <div class="assignment-back-container">
    <a class="assignment-back-link" href="{{ site.baseurl }}{{ page.url | replace: '/homework/', '/week/' }}">
      <span>Week {{ page.slug }} material</span>
    </a>
  </div>
</div>
