<div class="nav-container">
  <div class="nav-content-container">
    <div class="nav-title">
      <h3>DM-GY 6063<br>Creative Coding<br>Fall 2024, Section B</h3>
    </div>

    <div class="menu">
      <a href="{{ site.baseurl }}/">Syllabus</a>
      {% for p in site.pages %}
        {% unless p.path contains "/week/" or p.path contains "/homework/" or p.path contains "/tutorial/" or p.path contains "/shortcuts/" %}
          <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>
