{% assign p = include.page %}

<h2 class="week-title {{ include.schedule }} {{ include.show }}"><span>{{ p.title }} ({{ p.when }})</span></h2>

<div class="week-content-container {{ include.schedule }} {{ include.show }}">
  {% if p.what.size > 0 %}
    <ul>
    {% for w in p.what %}
      <li>{{ w }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if p.p5js.size > 0 %}
    <h3 class="content-header">p5.js:</h3>
    <ul class="content-list">
    {% for p in p.p5js %}
      <li>{{ p }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if p.arduino.size > 0 %}
    <h3 class="content-header">Arduino:</h3>
    <ul class="content-list">
    {% for a in p.arduino %}
      <li>{{ a }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if p.class.size > 0 %}
    <h3 class="content-header">Class Materials:</h3>
    <ul class="content-list">
      {% for m in p.class %}
        <li>
          <a href="{{ m.url }}">{{ m.title }}</a>
        </li>
      {% endfor %}
      </ul>
  {% endif %}

  {% if p.tutorials.size > 0 %}
  <h3 class="content-header">Tutorials:</h3>
  <ul class="content-list">
    {% for t in p.tutorials %}
      <li>
        <a href="{{ site.baseurl }}{{ t.url }}">{{ t.title }}</a>
        {% if t.code %}
          (<a href="{{ t.code }}">code</a>)
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if p.readings.size > 0 %}
    <h3 class="content-header">Recommended Readings:</h3>
    <ul class="content-list">
    {% for r in p.readings %}
      <li>
        {{ r.title }}:
        {% for u in r.urls %}
          <a href="{{ u }}">[{{ forloop.index }}]</a>
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if p.videos.size > 0 %}
    <h3 class="content-header">Recommended Videos:</h3>
    <ul class="content-list">
    {% for v in p.videos %}
      <li>
        {{ v.title }}: 
        {% for u in v.urls %}
          <a href="{{ u }}">[{{ forloop.index }}]</a>
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% assign phw = site.pages | where_exp: "h", "h.url contains '/homework/'" %} 
  {% assign hw = phw | where_exp: "h", "h.slug == p.slug" | first %}
  <h3><a href="{{ hw.url }}">{{ hw.title }} | due: {{ hw.when }}</a></h3>

</div>
